

.start-screen {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;  
  flex-flow: column wrap;    
}

.start--button {  
  height: 30px;
  width: 150px;
  margin-top: 50px;
  color: white;
  background-color: #555555;
  border: none;
  border-radius: 4px;
}

.easy--button {  
  height: 25px;
  width: 80px;
  margin-top: 50px;
  color: white;
  background-color: cyan;
  border: none;
  border-radius: 4px;
  margin-right: 15px;
}

.medium--button {  
  height: 30px;
  width: 100px;
  margin-top: 50px;
  color: white;
  background-color: darkturquoise;
  border: none;
  border-radius: 4px;
  margin-right: 15px;
}

.hard--button {  
  height: 35px;
  width: 115px;
  margin-top: 50px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 4px;
  margin-right: 15px;  
}

.everything--button {  
  height: 50px;
  width: 140px;
  margin-top: 50px;
  color: white;
  background-color: lightgoldenrodyellow;
  border: none;
  border-radius: 4px;    
  font-size: 22px
}

.difficulty-label {
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
}