@import '../variables.scss';

.guess--form {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-flow: column wrap;  
}

.guess--text {
   font-size: 20px;
   font-weight: $base-text__bold;
   color: $base-font__color;
   height: 50px;
   margin: auto;   
   margin-top: 25px;
}

.guess--input {  
  height: 30px;      
  font-size: 16px;
  width: 100%;
  margin: auto;  
  margin-top: 25px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ccc;
}

.guess--submit {  
  height: 30px;
  width: 150px;
  margin-top: 50px;
  color: white;
  background-color: #555555;
  border: none;
  border-radius: 4px;
}

.game--info {
  color: $base-font__color;
  font-size: 18px;
  font-weight: $base-text__bold;
}