$base-btn: #555555;
$base-btn__color: white;
$base-font__color: darkslategrey;

$base-text__bold: 500;

$easy-btn: cyan;
$medium-btn: darkturquoise;
$hard-btn: teal;
$everything-btn: lightgoldenrodyellow;

$english-btn-bg: coral;
$italian-btn-bg: rgb(5, 73, 5);