@import './components/variables.scss';

.App {
  height: 100%;
  overflow: scroll;
  padding: 16px;
}

.App .container {
  width: 500px;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media all and (min-width: 1001px) {
  .App .container {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .App .container {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 500px) {
  .App .container {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 375px) {
  .App .container {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 320px) {
  .App .container {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}